// Login

.login-page {
  background-color: $gray-100;

  .vertial-center-wrapper {
    height: 100vh;
  }

  .form-login {
    width: 100%;
    max-width: 450px;
    padding: 2rem;
    margin: 0 auto;

    .checkbox {
      font-weight: 400;
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
    }
    .form-control:focus {
      z-index: 2;
    }
    input[type='email'] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type='password'] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  // Override card
  .card{
    border: none;
  }

}
