<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/assets/index.css">
</head>

<body>
  {{{ body }}}
  
  <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
      ':{{liveReloadPort}}/livereload.js?snipver=1"></' + 'script>')
  </script>
</body>

</html>