<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" />
      {# <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> #}

  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

  {% block footer %}{% endblock %}
  <script>
    document.write(
      '<script src="http://' +
        (location.host || 'localhost').split(':')[0] +
        ':{{ viewSettings.liveReloadPort }}/livereload.js?snipver=1"></' +
        'script>',
    );
  </script>
  {# <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> #}

</html>
