{% extends "@layouts/main.html" %}


{% block body %}
<div class="error-page">

    <div class="d-flex align-items-start vertial-center-wrapper">

        <div class="card content">
            <h1>Error:</h1>
            <h1>{{ message }}</h1>

            <h6>PATH: {{ path }}</h6>

            <h6>STATUS CODE: {{ statusCode }}</h6>

            <h5 class="my-4">Reason: </h5>
            <p>
                {{ stack }}
            </p>

            </p>


            <center>
                <a href="/" class="btn btn-lg btn-primary ">Go back home</a>
            </center>

        </div>

    </div>
</div>

{% endblock %}